/* Mobile devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {

    section {
        margin: 50px 0px;
    }

    /* <!-- nav --> */
    .cs-navbar-brand {
        font-size: 14px;
    }

    .navbar-toggler-icon {
        background-image: none;
    }

    /* <!-- banner section --> */
    .carousel-caption {
        bottom: -5%;
    }

    .cs-carousel-caption h5 {
        font-weight: 600;
        line-height: 14px;
        font-size: 14px;
    }

    .cs-carousel-caption p {
        color: #FFFFFF;
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 7px;
    }

    .cs-carousel-caption button {
        font-size: 12px;
        padding: 2px 10px;
        margin-bottom: 0;
    }

    .carousel-indicators {
        bottom: -15%;
    }

    /* <!-- main-top --> */
    .top-main-section {
        flex-direction: column;
    }

    .top-image img {
        width: 100%;
    }
    .vector-pop-up {
        left: 6%;
        top: -17%;
    }

    /* <!-- package section --> */
    .packages-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 17px;
    }

    /* <!-- client-section --> */
    .client-container {
        flex-direction: column;
        gap: 22px;
    }

    /* <!-- FAQ --> */
    .faq-container {
        flex-direction: column-reverse;
    }

    .faq-img-section,
    .accordion-section {
        width: 100% !important;
    }

    .faq-img-section img {
        width: 100%;
    }

    /* footer */
    .footer-container {
        flex-direction: column-reverse;
        text-align: center;
        gap: 17px;
    }
}


/* iPads, Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {

    .navbar-toggler-icon {
        background-image: none;
    }

    /* <!-- main-top --> */
    .top-main-section {
        flex-direction: column;
    }

    .top-image img {
        width: 100%;
    }

    .vector-pop-up {
        left: 31%;
        top: -28%;
    }

    /* <!-- package section --> */
    .packages-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 17px;
    }

    /* <!-- client-section --> */
    .client-container {
        flex-direction: column;
        gap: 24px;
    }

    /* <!-- FAQ --> */
    .faq-container {
        flex-direction: column-reverse;
    }

    .faq-img-section,
    .accordion-section {
        width: 100% !important;
    }

    .faq-img-section img {
        width: 100%;
    }
}